{% extends 'landing/base1.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Examiner Profile{% endblock %}

{% block content %}
    <div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <strong>Username: {{ user }}</strong><br>
        <strong>Status: {{ status }}</strong><br><br>
        {{ examiner_form|crispy }}
        <p><input type="submit" value="Update"></p>
    </form>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function() {
            $("#div_id_age").hide();
            $("#id_date_of_birth").focusout(function () {
                var userDate = new Date($("#id_date_of_birth").val());
                if (userDate == 'Invalid Date') {
                    alert('Date is invalid. Provide a valid date in YYYY-MM-DD format');
                } else {
                    let dd = String(userDate.getDate()).padStart(2, '0');
                    let mm = String(userDate.getMonth() + 1).padStart(2, '0'); //January is 0!
                    let yyyy = userDate.getFullYear();
                    userDate = yyyy + '-' + mm + '-' + dd
                    calculateAge(userDate);
                }
            });

            function calculateAge(userDate) {
                //console.log(userDate)
                let ageDiff = Date.now() - new Date(userDate).getTime();
                let ageDate = new Date(ageDiff);
                let calcAge = Math.abs(ageDate.getUTCFullYear() - 1970)
                //console.log(calcAge)
                $("#id_age").attr('readonly', 'true');
                //$("#id_age").append(calcAge)
                $("#id_age").val(calcAge);
                $("#div_id_age").show();
            }
        });
    </script>
{% endblock javascript %}